gunicorn==19.7
pydub
gevent
django==1.11
django_rest_framework
django-cors-headers
coreapi
urllib3
whitenoise
psycopg2
django-jenkins
coverage
rest_social_auth
drf-yasg
celery
redis
raven
