


.sound-wave{

    height: 100px;
    width: 100%;
    border-radius: 5px;

}


.start{

    height: 50px;
    width: 50px;
    border-radius: 60px;
    background-color: none;
    border: none #3e98c7;
    border-style: solid;
    border-color: deepskyblue;
    margin-bottom: 10px;
    margin-top: 10px;



}



.start:hover {
    cursor: pointer;
    background-color: none;
}

.start:focus{
    outline: none;

}

.stop{

    height: 50px;
    width: 50px;
    border-radius: 60px;
    background-color: black;
    border: none #3e98c7;
    margin-bottom: 10px;
    margin-top: 10px;

}



.stop:hover {
    cursor: pointer;
    background-color: deepskyblue;
    /*background-color: #F69C76;*/

}

.stop:focus{
    outline: none;

}

.mic{
    margin-left: 15px;
    color: white;
}


.audioPlayer{
    margin-bottom: 10px;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.54);
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.54);
}











