


.sound-wave{

    height: 100px;
    width: 390px;
    border-radius: 5px;
    margin-top: 40px;
}


.start{

    height: 110px;
    width: 110px;
    border-radius: 60px;
    background-color: #21BA45;
    border: none;
    margin-bottom: 20px;
    margin-top: 10px;
}



.start:hover {
    cursor: pointer;
    background-color: #3ADF51;
}

.start:focus{
    outline: none;

}



.stop{

    height: 110px;
    width: 110px;
    border-radius: 60px;
    background-color: #FF4B00;
    border: none;
    margin-bottom: 20px;
    margin-top: 10px;




}



.stop:hover {
    cursor: pointer;
    /*background-color: #F69C76;*/

}

.stop:focus{
    outline: none;

}

.mic{
    margin-left: 10px;



}




.audioPlayer{
    margin-bottom: 10px;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.54);
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.54);




}











