


.sound-wave{

    height: 80px;
    width: 100%;
    border-radius: 5px;
    margin-top: 40px;
}


.start{

    height: 50px;
    width: 50px;
    border-radius: 60px;
    background-color: black;
    border: solid deepskyblue;
    margin-bottom: 10px;
    margin-top: 10px;
}



.start:hover {
    cursor: pointer;
    background-color: #3e98c7;
}

.start:focus{
    outline: none;

}

.stop{

    height: 50px;
    width: 50px;
    border-radius: 60px;
    background-color: black;
    border: solid deepskyblue;
    margin-bottom: 10px;
    margin-top: 10px;

}



.stop:hover {
    cursor: pointer;
    background-color: #3e98c7;

}

.stop:focus{
    outline: none;

}

.mic{
    margin-left: 15px;
    color: white;
}


.audioPlayer{
    margin-bottom: 10px;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.54);
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.54);
    width: 80%;
}

.commentsList{
    background-color: black;
}





