/*
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 */

.CircularProgressbar {
    /*
     * This fixes an issue where the CircularProgressbar svg has
     * 0 width inside a "display: flex" container, and thus not visible.
     *
     * If you're not using "display: flex", you can remove this style.
     */
    width:10vw;
    height: 10vw;

}

.CircularProgressbar .CircularProgressbar-path {
    stroke: #009CFF;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
}


.CircularProgressbar .CircularProgressbar-trail {
    stroke: #d6d6d6;
}


.ui.fixed.table td.dont-hide-overflow {
    overflow: visible;
}

.chapters {
    padding-left: 10px;
    padding-right: 10px;
}

.bookHeader {
    background-color: black;
    width:40%;
    color: white;

}