.background {
    /* background: ##00c6ff; /* fallback for old browsers */ */
    background: -webkit-linear-gradient(to right, #00c6ff, #0072ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00c6ff, #0072ff); /* W3C */
    background-image: url('../images/background-pattern.png'), linear-gradient(to bottom right, rgba(0,118,255,0.8), rgba(0,197,255,0.8));
    background-repeat: space;

}


 /* .background {
  background-image: url('../images/background-pattern.png'), linear-gradient(to bottom right, rgba(0,118,255,0.8), rgba(0,197,255,0.8));
  height: 100vh;
  width: 100vw;
  /* top: 0;
  left: 0;
  padding: 5vw 0; */

/*} */
