.background {
    background-color: #FF5733;
    height: 700px;
}
.pageTitle {
    position: absolute;
    left: 450px;
    top: 270px;
}

.gray {
    background-color: #3E4453;
    color: #F5A623;
    margin-bottom: 10px;
}

.start-here {
    position: absolute;
    left: 800px;
    top: 320px;
}

.logo {
    position: absolute;
    left: 50px;
    top: 150px;
}

.logoterra {
  color: '#CC0000',
  
}

.redBar {
    background-color: #B65459;
    color: #FFFFFF;
    height: 5px
}

.hoverButton:hover {
    cursor: pointer;
}
