.container{
    height: 20vw !important;
    width: 30vw !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ui.modal>.content{
    background: linear-gradient(to top, #0076FF , #00C5FF ) !important;
}
.content{
    margin-top:50%;
    text-align: center;
    height: 25vw !important;
}

.review-btn{
    border-radius: 2vw !important;
    background: linear-gradient(to top, #0076FF, #00C5FF) !important;
    display:flex;
    justify-content:center;
    align-items:center;
    color: white;
    height: 2vw;
    cursor: pointer;
}
.i.close.icon::before{
    color:'blue' !important;
}