.container{
    height: 20vw !important;
    width: 30vw !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-content-color-review-compile{
    background: linear-gradient(to top, #0076FF , #00C5FF ) !important;
}
.content{
    margin-top:50%;
    text-align: center;
    height: 25vw !important;
}

.review-compile-btn-bg-color{
    background: linear-gradient(to top, #0076FF, #00C5FF) !important;
}
.review-flagged-btn-bg-color{
    background: linear-gradient(to bottom,#820C00, #E74C3C) !important;
}
.review-btn{
    border-radius: 2vw !important;
    display:flex;
    justify-content:center;
    align-items:center;
    color: white;
    height: 2vw;
    cursor: pointer;
}
