.jumbotroncustom {
    margin: 30px;
}

.center {
    margin-left:30px;
}


.hover {
    background-color: red;
}

Table {
    background-color: red;
}

tr:hover {
    cursor: pointer;
}


/*
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 */

.CircularProgressbar {
    /*
     * This fixes an issue where the CircularProgressbar svg has
     * 0 width inside a "display: flex" container, and thus not visible.
     *
     * If you're not using "display: flex", you can remove this style.
     */
    width:15%;
}

.CircularProgressbar .CircularProgressbar-path {
    stroke: #3e98c7;
    stroke-linecap: square;
    transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
    stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
    fill: #3e98c7;
    font-size: 20px;
    dominant-baseline: central;
    text-anchor: middle;
}

.projects {
    padding-left: 10px;
    padding-right: 10px;
}

/*.headerStyle {*/
    /*background-color: black;*/
    /*color: white;*/
    /*width: 42%;*/
    /*margin: 10px  0;*/
    /*box-shadow: 5px 5px 5px #888888;*/
    /*font-size: 22px;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*display: inline-block;*/
/*}*/