.ChapterHeader{
    color: #434;
}

.ChapterContainer {
    background-color: #F2F2F2;
}

.ChunkTitle {
    background-color: #e5e5e8;
}

.ChunkBody {
    background-color: #FFFFFF;
}

.ChapterTitle {
    background-color: red;
    width: 170px;
    left: 0px;

}

.ColumnA {
    width: 250px;
}

.takes {
    padding-left: 10px;
    padding-right: 10px;
}

.blackBar {
    background-color: #000000;
    height: 5px;
}

.StickyFooter {
    position: sticky;
    bottom: 0;
    padding: 0;
    background-color: white;
    text-align: center
}

.ChunkFooter {
    background-color: white;
    text-align: center;
}

.MoveButtons {
    vertical-align: middle
}

.hoverButton:hover {
    cursor: pointer;
}

.headerStyle {
    background-color: black;
    color: white;
    width: 42%;
    margin: 10px  0;
    box-shadow: 5px 5px 5px #888888;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

.verticalLine {
    border-left: thin solid white;
}