.TakeList{
    /* max-height: 20em;
    min-height: 20em;
    overflow-y: auto;
    padding-right: 10px;
    overflow-x: hidden; */
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    overflow: auto;
    height: 45vw;
}

::-webkit-scrollbar {
    width: 2em;
}
