.ChapterHeader{
    color: #434;
}

.ChapterContainer {
    background-color: #F2F2F2;
}

.ChunkTitle {
    background-color: #e5e5e8;
}

.ChunkBody {
    background-color: #FFFFFF;
}

.ChapterTitle {
    background-color: red;
    width: 170px;
    left: 0px;

}

.ColumnA {
    width: 250px;
}

.takes {
    padding-left: 10px;
    padding-right: 10px;
}

.blackBar {
    background-color: #000000;
    height: 5px;
}

.StickyFooter {
    position: sticky;
    bottom: 0;
    padding: 0;
    background-color: white;
    text-align: center
}

.ChunkFooter {
    background-color: white;
    text-align: center;
}