.TakeList{
    /* max-height: 20em;
    min-height: 20em;
    overflow-y: auto;
    padding-right: 10px;
    overflow-x: hidden; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
::-webkit-scrollbar {
    width: 2em;
}
