
.backgroundKaban {

  background: url('../assets/images/obs-en-01-01.jpg')  ;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.publishedTakeColumn {
  height: 30vh;
}

.ChapterHeader{
    color: #434;
}

.ChapterContainer {
    background-color: #F2F2F2;
}

.ChunkTitle {
    //background-color: #e5e5e8;
}

.ChunkBody {
    background-color: #FFFFFF;
    position: relative;
}

.ui.styled.accordion .content.ChunkBody{
    padding: 0;
}


.ColumnA {
    width: 250px;
}

.takes {
    padding-left: 10px;
    padding-right: 10px;
}

.blackBar {
    background-color: #000000;
    height: 5px;
}

.StickyFooter {
    position: sticky;
    bottom: 0;
    padding: 0;
    background-color: white;
    text-align: center
}

.ChunkFooter {
    background-color: white;
    text-align: center;
    position: relative;
}

.MoveButtons {
    vertical-align: middle
}

.hoverButton:hover {
    cursor: pointer;
}

.headerStyle {
    background-color: black;
    color: white;
    width: 42%;
    margin: 10px  0;
    box-shadow: 5px 5px 5px #888888;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

.footerStyle {
    background-color: black;
    color: white;
}

.verticalLine {
    border-left: thin solid white;
}

.source {
    float: right;
    display: inline-block;
    margin-top: 25px;
}

.ChunkBody .ui.visible.right.overlay.sidebar{
    height: auto !important;
    width: auto;
    top: 50%;
    transform: translateY(-50%);
}

/* {*/
    /*height: auto !important;*/
    /*width: auto;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    /*position: absolute;*/
/*}*/
/*ui inverted vertical labeled icon ui overlay right thin visible sidebar menu*/

.centerPlayButton {
    text-align: center
}

.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 55px;
  height: 22.5px;
  padding: 0;
  border-radius: 35px;
  background-color: #FF9800;
  color: white;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #FF9800;
  color: white;

}

.react-toggle--checked .react-toggle-track {
  background-color: #009CFF;
  color: white;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #009CFF;
}

.react-toggle-track-check {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 0px;
  bottom: 6.25px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;

}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 0px;
  bottom: 10px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 3px;
  line-height: 0;
  right: 11px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: -2px;
  left: -2px;
  width: 30px;
  height: 30px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: none;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
  -moz-box-shadow: 0px 0px 3px 2px #0099E0;
  box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
  -moz-box-shadow: 0px 0px 5px 5px #0099E0;
  box-shadow: 0px 0px 5px 5px #0099E0;
}

.vertical_align_middle {
  vertical-align: middle;
}


.labelLines {
 overflow: hidden;
 text-align: center;
 color: white;
}
.labelLines:before,
.labelLines:after {
 background-color: white;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 40%;
}
.labelLines:before {
 right: 0.5em;
 margin-left: -50%;
}
.labelLines:after {
 left: 0.5em;
 margin-right: -50%;
}
