.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 150px;
  color: white;
}

.App-main {
  position: relative;
  left: 240px;
}

.App-intro {
  font-size: large;
}

.App-footer {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #222;
    height: 50px;
    color: white;
    font-size: small;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}




